<h1>Rails Views Lab</h1>
<p>Welcome to the Rails Views Lab!</p>
<ul>
  <li><a href="/hello">Hello Page</a></li>
  <li><a href="/goodbye">Goodbye Page</a></li>
  <li><a href="/date">Date Page</a></li>
</ul>
